<?xml version="1.0"?>
<launch>
    <!-- Launch the racecar -->
   <include file="$(find racecar_description)/launch/racecar.launch">
     <arg name="world_name" value="racetrack"/>
   </include>

    <!-- 启动rf2o_laser_odometry代替gazebo_linkstate发出的odometry -->
    <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" />
    
    <!-- 转化消息类型-->
    <node pkg="racecar_move" type="odom_ekf.py" name="odom_ekf" output="screen">
      <remap from="input" to="/robot_pose_ekf/odom_combined"/>
      <remap from="output" to="/odom_ekf"/>
    </node>

    <!-- SLAM Gmapping 建图 -->
    <!-- <include file="$(find racecar_move)/include/robot_gmapping.launch.xml" /> -->

    <!-- Map server 提供地图 -->
    <arg name="map_file" default="$(find racecar_move)/map/racetrack.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- Localization 定位 -->
    <include file="$(find racecar_move)/include/robot_amcl.launch.xml" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" /> -->

    <!-- 启动amcl tf转换-->
    <node pkg="odom_tf_converter" name="amcl_tf_to_odom" type="tf_to_odom" output="screen"/>

    <!-- 启动odometry_combine -->
    <include file="$(find racecar_move)/launch/odom_combine.launch" />

     <!-- Move base 导航 -->
    <include file="$(find racecar_move)/include/move_base.launch.xml"/>
</launch>